# Godot
.godot/
*.import
*.uid

# .NET / C#
bin/
obj/
publish/
packages/
Properties/PublishProfiles/
*.pubxml.user
*.user
*.suo
*.userprefs

# IDE / Editor
.idea/
.vs/
*.code-workspace

# Platform / export output
/android/
*.pck
